<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Node.JS</title>

    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    {{!-- Estilos --}}
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    {{{body}}}
</body>
</html>