<h1>Início da página</h1>

{{#if gostandoDeNode}}
    <p>Que legal!!!</p>
{{else}}
    <p>Que pena :(</p>
{{/if}}

<table>
    {{#each dados}}
        <tr>
            <td>{{nome}}</td>
            <td>{{idade}}</td>
        </tr>
    {{/each}}
</table>

